* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9ECF4;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}


/*-------------Contenedor principal-----------------*/

.contenedor {
    overflow-y: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /*Usando grid para estructurar la pagina*/
    grid-template-rows: repeat(3, auto);
    /*Definiendo la esctructura de la pagina*/
    grid-template-areas: "header header header header header" "menu_rastros menu_rastros menu_rastros menu_rastros menu_rastros" "verticall contenido contenido contenido contenido";
}


/*-------------Contenedor principal-----------------*/

header {
    grid-area: header;
}


/*--------IMAGENES------------*/

.imagenesHorizontales {
    width: 100%;
    background-color: rgb(61, 182, 71);
    display: flex;
    /*Usando flexbox para alinear los elementos al centro*/
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    max-height: 150px;
}

aside {
    grid-area: verticall;
}

.contenedor_imagen_vertical {
    text-align: center;
    margin-left: 20px;
    border-right: 2px solid rgb(199, 199, 199);
    background-color: rgb(253, 253, 253);
    font-size: 15px;
}

.img_vertical {
    max-width: 100%;
    max-height: 100%;
}

.imgFoto {
    max-width: 100%;
    max-height: 100%;
}

aside a {
    color: rgb(0, 153, 255);
}


/*--------IMAGENES------------*/


/*------------- Menu de rastros --------------*/


/*Contenedor principal*/

.contenedor_menu_rastros {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: menu_rastros;
    background-color: rgb(226, 223, 223);
    padding: 0.5% 0% 0.5% 2%;
    position: relative;
}

.menu_rastros {
    display: inline-block;
}

.nombre_usuario {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.rastro_item {
    text-decoration: none;
    display: inline-block;
}

.rastro_link {
    color: rgb(70, 69, 69);
    font-size: large;
    text-decoration: none;
}

.rastro_link:hover {
    color: rgb(0, 0, 0);
}


/*Selector que ingresa un: ">" en medio de cada item, EXCEPTO del ultimo: Home>Pag1>Pag2 */

.rastro_item:not(:last-of-type)::after {
    content: ">";
    margin: 0px 5px;
    color: rgb(121, 121, 121);
}

.rastro_link_activo {
    font-weight: bold;
}


/*------------- Menu de rastros --------------*/


/*Contendor del contenido de la pagina*/

.contenido {
    width: 100%;
    overflow-y: auto;
    margin-right: 200px;
    grid-area: contenido;
    background-color: rgb(253, 253, 253);
    padding: 0px;
}

footer {
    grid-area: footer;
    background-color: rgb(226, 223, 223);
    ;
}


/*------------------------------ RESPONSIVE ---------------------------*/


/*Hay distintos @media para poder ajustar el tamaño de la imagen una vez empieza
disminuir el tamaño del dispositivo*/

@media screen and (max-width: 1426px) {
    header img {
        max-height: 100px;
    }
}

@media screen and (max-width:970px) {
    .nombre_usuario {
        display: block;
        position: relative;
        margin-top: 5px;
    }
}

@media screen and (max-width: 948px) {
    header img {
        max-height: 80px;
    }
}

@media screen and (max-width: 768px) {
    .contenedor {
        /*Definiendo la esctructura de la pagina*/
        grid-template-areas: "header header header header" "menu_rastros menu_rastros menu_rastros menu_rastros" "contenido contenido contenido contenido";
    }
    .contenedor_menu_rastros a {
        font-size: 13px;
    }
    .contenedor_imagen_vertical {
        display: none;
    }
    .contenido {
        margin-right: 0;
    }
    header img {
        max-height: 50px;
    }
}

@media screen and (max-width: 493px) {
    .contenedor_menu_rastros a {
        font-size: 11px;
    }
    header img {
        max-height: 30px;
    }
}


/*--------------------------------- RESPONSIVE -----------------------------*/


/*-----aqui va menu encuestas----*/

.row {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 320px;
    align-content: flex-start;
    top: 127px;
}

.tit1 {
    text-align: center;
    color: green;
}

.inner img {
    transition: all 1.5s ease;
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

.inner:hover img {
    transform: scale(1.5);
}

.shadow {
    width: 15rem;
}

.centrado {
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #16AB26 !important;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 100px.0px;
    text-align: center;
    widows: 200px;
}

.btn-primary.large {
    width: 450px
}

.btn-primary:hover {
    background-color: #0A6514 !important;
}

.inner4 img {
    transition: all 1.5s ease;
}

.inner4:hover img {
    transform: scale(1.5);
}

.inner5 img {
    transition: all 1.5s ease;
}

.inner5:hover img {
    transform: scale(1.5);
}

.inner4 {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.inner5 {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.botonvolver {
    position: absolute;
    top: 94%;
}

.botonvolver3 {
    position: absolute;
    top: 90%;
    left: 50%;
}

.botonvolver3 {
    position: absolute;
    top: 90%;
    right: 50%;
}

.botonvolver1 {
    position: absolute;
    top: 75%;
}

.botonaceptar {
    position: absolute;
    top: 75%;
    right: 50px;
    height: 150px;
    width: 150px;
}

.botonaceptar1 {
    position: absolute;
    top: 90%;
    right: 25%;
}